<md-card class="preview-todo">
  <md-card-title>
    <md-input placeholder="Title" [(ngModel)]="newTodo.title" autofocus></md-input>
  </md-card-title>
  <md-content>
    <md-input placeholder="Description" [(ngModel)]="newTodo.details" autofocus></md-input>
  </md-content>
  <div class="margin-20"></div>
  <button md-raised-button color="primary" (click)="addTodo()">Add Todo</button>
</md-card>
<md-card *ngFor="let todo of todos; let i = index">
  <span class="fa fa-trash-o icon icon-md float-right padding-top-20" style="color:crimson" (click)="removeTodo(i)"></span>
  <md-card-title>
    <div [hidden]="todo.edit" (click)="editTodo(todo)">{{todo.title}}</div>
    <md-input placeholder="Title" [hidden]="!todo.edit" [(ngModel)]="todo.title" autofocus></md-input>
  </md-card-title>
  <md-card-content>
    <p [hidden]="todo.edit" (click)="editTodo(todo)">{{todo.details}}</p>
    <md-input class="col-lg-12 no-padding" placeholder="Details" [hidden]="!todo.edit" [(ngModel)]="todo.details" autofocus></md-input>
    <button [hidden]="!todo.edit"
            class="margin-top-10"
            md-raised-button
            color="primary"
            (click)="saveTodo(todo)">Save</button>
  </md-card-content>
</md-card>
